* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: darkgreen;
    color: brown;
}
h1{
    text-transform: uppercase;
    margin: 30px 0 30px o;
}
input [type="number"]
{
    text-align: center;
    width:40% ;
    height:40px ;
    margin-bottom:5px ;
}
button
{
    background-color: blue;
    color: chocolate;
    width: 10%;
    height: 40px;
    margin-top: 20px;
    border: none;
}